.modal.fade#registerIncidenciaModal(role="dialog")
    .modal-dialog.modal-wide-width
        .modal-content
            .modal-header
                button.close(type='button',data-dismiss='modal') x
                h3.modal-title Registrar incidencia
            .modal-body
            
                form(method='post',action='/incidencias')
                    .row
                        .col-md-6
                            .form-group
                                label.control-label() Titulo
                                input.form-control(name='title')
                        .col-md-6
                            .form-group
                                label.control-label() Prioridad
                                input.form-control(type='number',name='priority')
                        .col-md-6
                            .form-group
                                label.control-label() Medio de notificacion
                                select.form-control(name='notificacionMeans')
                                    option(value='telefono') Telefono
                                    option(value='documento') Documento
                        .col-md-6    
                            .form-group
                                label.control-label() Usuario
                                input.form-control(name='userRegister',id='#userRegisterIncidencia')
                        .col-md-6
                            .form-group
                                label.control-label() Cliente
                                .input-group
                                    select.select2-size.form-control(name='dependence')
                                        each dependencia in usersIncidencias
                                            if (dependencia.role == 'cliente')
                                                option(value=dependencia.dependence) #{dependencia.dependence} (#{dependencia.name} #{dependencia.lastname})
                                                
                                    span.input-group-btn
                                        button.btn.btn-success(type='button',data-target='#registerUserModal',data-toggle='modal')
                                            i.fa.fa-plus                                            
                        .col-md-6    
                            .form-group
                                label.control-label() Tecnico
                                select.select2-size.form-control(name='technical')
                                    each tecnico in usersIncidencias
                                        if tecnico.role == 'tecnico'
                                            option(value=tecnico.name +' '+ tecnico.lastname) #{tecnico.dependence} (#{tecnico.name}  #{tecnico.lastname}) 
                        .col-md-6
                            .form-group
                                label.control-label() Fecha de registro
                                input#datePerson.form-control(name='registration_date', readonly="readonly")
                        .col-md-6    
                            .form-group
                                label.control-label() Estado
                                select.form-control(name='state')
                                    option(value='pendiente') Pendiente        
                                    option(value='atendido') Atendido
                        .col-md-6
                            .form-group
                                label.control-label() Descripcion
                                textarea.form-control(rows='2',name='description')
                        .col-md-6    
                            .form-group
                                label.control-label() Comentario/Tecnico
                                textarea.form-control(rows='2',name='comment')
                                  
                        .col-md-12
                            button.btn.btn-success.pull-right(type='submit',style='margin-left:5px') Registrar
                            button.btn.btn-default.pull-right(type='button',data-dismiss='modal') Cancelar
        //-
            .modal-footer
                button.btn.btn-default(type='button',data-dismiss='modal') Cancelar
                button.btn.btn-success(type='submit') Registrar
