extends ../layout
block modals
    include create
    include edit
block content
    .panel
        .panel-header
        .panel-body
            .form-body.pal
                .row
                    .col-md-12
                        button.btn.btn-success(data-target='#registerStaffModal',data-toggle='modal')
                            i.fa.fa-plus
                            |  Nuevo
                        .table-responsive
                            hr
                            table#table_staff.table.table-hover.table-striped.table-bordered.table-advanced.tablesorter.display.dataTable.no-footer
                                thead
                                    th(width='4%')
                                        | #
                                    th Nombre
                                    th Apellido
                                    th(width='10%') 
                                        | DNI
                                    th Rol
                                    th Depencencia
                                    th Telefono 
                                    th(width='15%')
                                        | Email
                                    th(width='13%') 
                                        | Fecha
                                    th(width='4%')
                                        | Acciones
                                tbody
                                    each user in userstaff
                                        tr
                                            td=user.id
                                            td=user.name
                                            td=user.lastname
                                            td=user.dni
                                            td=user.role
                                            td=user.dependence
                                            td=user.phone
                                            td=user.email
                                            td=user.register_date_staff
                                            td
                                                button#btnStaffModal.btn.btn-info.btn-xs(type='button', data-id=user.id ,data-toggle='modal',href='#editStaffModal') 
                                                    | Editar
block scripts
    script(src='/javascripts/staff/staff.js')
